* {
  margin: 0;
  padding: 0;
}

:root {
  --biru-cerah: #9de9f4;
  --putih: #fff;
  --hitam: #000000;
  --abu-abu: #f0efef;
  --abu-keputihan: rgb(240, 238, 238);
}

body {
  font-family: "Rubik", sans-serif;
  background-image: url(img/bg1.png);
}
section {
  padding-top: 2rem;
}

/* login popup */
.popupWrapper {
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popupWrapper .modalContent {
  width: 25em;
  height: 35em;
  background-color: var(--putih);
  border-radius: 12px;
  box-shadow: 15px 15px 20px #00000020;
}

.popupWrapper .modalContent .modalBody form input {
  margin-bottom: 1.2em;
  border: 1.2px solid var(--biru-cerah);
}

.popupWrapper .modalContent .modalBody .sosmedbtn button {
  height: 2.3em;
}

.popupWrapper .modalContent .modalBody .sosmedbtn button:hover {
  background-color: var(--putih);
  color: var(--hitam);
}

.popupWrapper .modalContent .modalBody .sosmedbtn button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.popupWrapper .modalContent .modalBody .regisLink a {
  text-decoration: none;
  color: black;
}

.popupWrapper .modalContent .modalBody .regisLink a:hover {
  font-weight: 700;
  text-shadow: 4px 4px var(--biru-cerah);
  transition: all ease 0.3s;
}
/* akhir popup Log In */
